{
  "authorizedTokens": [
    "xYzxyz"
  ],
  "wwwuser": "www-data",
  "wwwgroup": "www-data",
  "storageRootDir": "/var/lib/sqensor",
  "sensorRegisterDir": "/var/lib/sqensor/sensors",
  "rrdDir": "/var/lib/sqensor/rrds",
  "wwwrootDir": "/var/www/html/sqensor/",
  "widget1": "/etc/sqensor/widget1.png"
}
